[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Buddle"]
	path = Buddle
	url = https://github.com/cran/Buddle
[submodule "GofKmt"]
	path = GofKmt
	url = https://github.com/cran/GofKmt
[submodule "HMMEsolver"]
	path = HMMEsolver
	url = https://github.com/cran/HMMEsolver
